snippet	<? "PHP Open Tag"
<?php

endsnippet

snippet	pf "PHP Public Method"
public function $1($2)
{
	${3:throw new \Exception('Method is	not implemented yet');}
}
endsnippet

snippet	psf "PHP Public Static Method"
public static function $1($2)
{
	${3:throw new \Exception('Method is	not implemented yet');}
}
endsnippet

snippet	pf "PHP Private Method"
private function $1($2)
{
	${3:throw new \Exception('Method is not implemented yet');}
}
endsnippet
